@import "./tailwind.scss";
@import "./lexical.scss";

html {
    font-size: 16px;

    --theme-primary: #38bdf8;
    --theme-secondary: #4f46e5;
    --theme-accent: #d946ef;
    --theme-neutral: #1f2937;
    --theme-base-100: #ffffff;
    --theme-info: #00beff;
    --theme-success: #22c55e;
    --theme-warning: #facc15;
    --theme-error: #f87171;
    --theme-bg: var(--theme-base-100);

    &[data-theme="dark"] {
        --theme-primary: #38bdf8;
        --theme-secondary: #4f46e5;
        --theme-accent: #d946ef;
        --theme-neutral: #1f2937;
        --theme-base-100: #111827;
        --theme-info: #00beff;
        --theme-success: #22c55e;
        --theme-warning: #facc15;
        --theme-error: #f87171;
    }
}

body {

    height: auto;
    min-height: 100dvh;
    --bg-gradient-left: oklch(var(--p) / 0.15);
    --bg-gradient-right: oklch(var(--s) / 0.15);
    background-image: radial-gradient(at -20vw 20dvh, var(--bg-gradient-left) 0px, rgba(0, 0, 0, 0) 60%),
        radial-gradient(at 120vw 120dvh, var(--bg-gradient-right) 0px, rgba(0, 0, 0, 0) 60%);
}

.template-default__wrap {
    @apply bg-base-100 bg-opacity-90;
}

.btn {
    @apply rounded-lg py-0 px-4 min-h-12 font-medium;

    &--style-primary {
        @apply bg-primary text-primary-content transition-all;

        &:not(.btn--disabled) {
            &:hover {
                background-color: color-mix(in oklab, oklch(var(--p, var(--b2)) / var(--tw-bg-opacity, 1)) 90%, black);
                border-color: color-mix(in oklab, oklch(var(--p, var(--b2)) / var(--tw-border-opacity, 1)) 90%, black);

                &:active {
                    @apply scale-95;
                }
            }

            &:focus {
                @apply outline-none shadow-none;
            }

            &:focus-visible {
                @apply ring-2 ring-offset-2 ring-primary bg-primary ring-offset-base-100 outline-none;
            }
        }
    }

    &--style-primary.btn--disabled {
        background-color: rgb(102, 255, 212);
    }

    &--disabled {
        background-color: rgb(102, 255, 212);
    }
}

.Toastify .Toastify__toast {
    @apply rounded-lg;

    &--success {
        @apply bg-success text-success-content;
    }
}

.collapsible__content,
.file-details header {
    @apply bg-base-300;
}

.date-time-picker .react-datepicker__input-container input,
.field-type.text:not(.has-many) input,
.field-type.textarea .textarea-outer,
.list-controls__wrap,
.column-selector {
    @apply bg-base-100 rounded-lg border border-base-content border-solid border-opacity-20;
}

.list-controls .search-filter input {
    @apply bg-transparent;
}

.collapsible--style-default>.collapsible__toggle-wrap .collapsible__toggle {
    @apply bg-base-100;
}

.textarea {
    @apply px-0;
}

.collapsible--style-default.collapsible--hovered>.collapsible__toggle-wrap .collapsible__toggle {
    background-color: var(--fallback-bc, oklch(var(--bc) / 0.2));
}

.table tbody tr:nth-child(odd) {
    @apply bg-base-300;
}