:root {
    --font-body: theme('fontFamily.sans');
}

html {
    font-size: 16px;
    --theme-bg: oklch(var(--b1) / 1);

    &[data-theme="dark"] {
        --theme-bg: oklch(var(--b1) / 1);
    }
}

body {
    @apply font-sans;
    height: auto;
    min-height: 100dvh;
    --bg-gradient-left: oklch(var(--p) / 0.15);
    --bg-gradient-right: oklch(var(--s) / 0.15);
    background-image: radial-gradient(at -20vw 20dvh, var(--bg-gradient-left) 0px, rgba(0, 0, 0, 0) 60%),
        radial-gradient(at 120vw 120dvh, var(--bg-gradient-right) 0px, rgba(0, 0, 0, 0) 60%);
}

h1 {
    @apply text-3xl font-bold;
}